<?xml version="1.0"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="Conn" connectionString="data source=.;database=DyLeader;uid=dyleader;pwd=DyLeader!2345" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="IsAutoCache" value="false"/>
  </appSettings>
  <!--
    有关 web.config 更改的说明，请参见 http://go.microsoft.com/fwlink/?LinkId=235367。

    可在 <httpRuntime> 标记上设置以下特性。
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime maxRequestLength="2048000" executionTimeout="600"/>
    <httpHandlers>
      <add path="*Ajax*/*.cspx,*Ajax*.*.cspx" verb="*" type="MyMVC.AjaxHandlerFactory, MyMVC" validate="true"/>
      <add path="*.aspx" verb="*" type="MyMVC.MvcPageHandlerFactory, MyMVC" validate="true"/>
      <add path="/mvc/*" verb="*" type="MyMVC.MvcPageHandlerFactory, MyMVC" validate="true"/>
    </httpHandlers>
    <httpModules>
      <add name="SetOutputCacheModule" type="MyMVC.SetOutputCacheModule, MyMVC"/>
      <add name="GzipModule" type="MyMVC.GzipModule, MyMVC"/>
      <add name="Session" type="System.Web.SessionState.SessionStateModule"/>
      <add name="UrlRoutingModule" type="System.Web.Routing.UrlRoutingModule"/>
    </httpModules>
    <sessionState mode="InProc" timeout="30"/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <security>
      <requestFiltering>
        <fileExtensions>
          <remove fileExtension=".cspx"/>
          <add fileExtension=".cspx" allowed="true"/>
        </fileExtensions>
      </requestFiltering>
    </security>
    <handlers>
      <add name="AjaxHandlerFactory" verb="*" path="*Ajax*/*.cspx" type="MyMVC.AjaxHandlerFactory, MyMVC" preCondition="integratedMode"/>
      <add name="MvcPageHandlerFactory" verb="*" path="*.aspx" type="MyMVC.MvcPageHandlerFactory, MyMVC" preCondition="integratedMode"/>
    </handlers>
    <!--以下为跨域请求用-->
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*"/>
        <add name="Access-Control-Allow-Headers" value="Content-Type"/>
        <add name="Access-Control-Allow-Methods" value="GET, POST, PUT, DELETE, OPTIONS"/>
      </customHeaders>
    </httpProtocol>
    <staticContent>
      <mimeMap fileExtension=".apk" mimeType="application/download"/>
    </staticContent>
    <!--跨域请求到此结束-->
  </system.webServer>
</configuration>