body, html {
    padding: 0 !important;
    font-family: "Helvetica Neue", Helvetica, Arial, "Microsoft JhengHei", "Microsoft Yahei Light", "Microsoft Yahei", "Hiragino Sans GB", "Heiti SC", "WenQuanYi Micro Hei", sans-serif;
}

a {
    color: #333;
}

    a:hover, a:focus, .maincolor, .maincolor a {
        color: #06c;
    }

#loginBody {
    padding: 0;
    margin: 0;
    color: white;
    background: url('/images/loginBg.png') no-repeat;
    background: url("/images/loginBg.png") no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    display: none;
    width: 100%;
    height: 1080px;
    overflow: hidden;
}

    #loginBody input[type="text"], #loginBody input[type="password"], #loginBody input[type="number"] {
        vertical-align: middle;
        width: 16em;
        height: 2.4em;
        margin: 1em;
        font-size: 1em;
        border-radius: 20px;
        border: none;
        padding-left: 2.5em;
        outline: none;
    }

    #loginBody label {
        margin-left: 1em;
    }

    #loginBody img {
        cursor: pointer;
        vertical-align: middle;
    }

#main {
    position: absolute;
    width: 28.6em;
    height: 21.4em;
    left: 50%;
    top: 50%;
    margin-left: -14.3em;
    margin-top: -16em;
    text-align: center;
}

#loginBody h2 {
    font-size: 1.6em;
    text-align: center;
    height: 2.86em;
}

#loginBody a {
    color: white;
}

.userImg {
    position: absolute;
    top: 6.4%;
    left: 21%;
}

.lockImg {
    position: absolute;
    top: 25.5%;
    left: 21%;
}

.pcok {
    width: 12em;
    height: 2.5em;
    border-radius: 20px;
    border: none;
    background-color: #ffc321;
    font-size: 15px;
    font-family: 微软雅黑;
    color: #443203;
    outline: none;
    cursor: pointer;
}

#resetPwd {
    margin-left: 16em;
    font-size: 14px;
    cursor: pointer;
}

.Hui-aside .menu_dropdown dt {
    text-align: center;
    line-height: 20px;
    padding-left: 0;
    cursor: pointer;
    border-bottom: none;
    padding: 15px 0;
    color: #6a6a6a;
}

    .Hui-aside .menu_dropdown dt span {
        display: block;
        font-size: 13px;
    }

.Hui-aside .menu_dropdown dd ul {
    padding: 0;
}

.Hui-aside .menu_dropdown dd {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 45px;
    width: 120px;
    background-color: #efefef;
    box-shadow: -5px 0px 5px rgba(210, 210, 210, .5) inset;
}

    .Hui-aside .menu_dropdown dd li a {
        line-height: 40px;
        padding-left: 10px;
        padding-right: 10px;
        border-bottom: none;
        font-weight: normal;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        color: #6a6a6a;
    }

.Hui-aside .menu_dropdown li a:hover {
    background-color: #ccc;
    color: #6a6a6a;
}
/*顶部导航*/
.logoDiv {
    line-height: 40px;
}

.navbar {
    background: #9A9A9B;
    height: 44px;
}

.container-fluid {
    padding-left: 0;
}

#Hui-userbar {
    right: 0;
}

.nav-logoff {
    background-color: #444;
    overflow: hidden;
    height: 44px;
    line-height: 48px !important;
    padding-left: 12px !important;
}

    .nav-logoff i.fa {
        font-size: 21px;
    }

.navbar-logo, .navbar-logo-m, .navbar-slogan, .navbar-userbar {
    color: #fff;
}
    /*logo 及 用户信息文字颜色*/
    .navbar-logo:hover, .navbar-logo-m:hover {
        color: #fff;
        text-decoration: none;
    }

.navbar-nav > ul > li, .navbar-nav > ul > li > a {
    color: #fff;
}
/*顶部导航文字颜色*/
.navbar-userbar > ul > > li, .navbar-userbar > ul > > li > a {
    color: #fff;
}

.fullname {
    width: 25px;
    height: 25px;
    line-height: 25px !important;
    border-radius: 50%;
    margin-top: 9px;
    margin-right: 16px;
    background-color: #fff;
    color: #777 !important;
}

.Hui-aside {
    position: absolute;
    top: 44px;
    bottom: 0;
    left: 0;
    padding-top: 0;
    width: 44px;
    z-index: 99;
    overflow: inherit;
    background-color: #fff;
    border-right: 1px solid #efefef;
}

    .Hui-aside .menu_dropdown dt:hover [class^="icon-"] {
        color: #fff;
    }

    .Hui-aside .menu_dropdown li.current a, .menu_dropdown li.current a:hover {
        color: #148cf1;
    }

    .Hui-aside .menu_dropdown dt .Hui-iconfont {
        font-size: 22px;
    }

    .Hui-aside .menu_dropdown dt .menu_dropdown-arrow {
        color: #fff;
    }

.dislpayArrow a {
    background: url(icon_arrow.png) no-repeat 0 0;
}

.tabBar {
    border-bottom: 2px solid #2d6dcc;
}

    .tabBar span.current {
        background-color: #2d6dcc;
    }

.Hui-aside .menu_dropdown dl:hover, .Hui-aside .menu_dropdown dl dt.selected {
    background-color: #efefef;
}

.Hui-article {
    top: 0;
    bottom: 35px;
}
/*底部的导航*/
.Hui-tabNav {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    padding-right: 70px;
    background-position: 0 -216px;
    box-sizing: border-box;
}

    .Hui-tabNav .acrossTab {
        top: 0;
        height: 35px;
        line-height: 35px;
    }

        .Hui-tabNav .acrossTab li {
            height: 35px;
            line-height: 35px;
        }

.acrossTab li {
    font-size: 13px;
    color: #ffffff;
}

    .acrossTab li span {
        margin-left: 14px;
    }

.Hui-tabNav .acrossTab li em {
    height: 35px;
    background-position: right -36px;
}

.acrossTab li:hover {
    background-position: 0 -72px;
    color: #333;
}

.Hui-tabNav .acrossTab li:hover em {
    background-position: right -108px;
}

.acrossTab li.active {
    z-index: auto;
    background-position: 0 -144px;
    color: #333;
}

.Hui-tabNav .acrossTab li.active em {
    background-position: right -180px;
}

.Hui-tabNav-more {
    width: 70px;
    top: 0;
    overflow: hidden;
    height: 35px;
}

    .Hui-tabNav-more a {
        width: 35px !important;
        height: 33px !important;
        line-height: 33px !important;
        padding: 0 !important;
        float: left;
        display: block;
        border-radius: 0 !important;
        margin: 2px 0 0 0 !important;
    }

/*侧边栏的导航*/
.dislpayArrow, .Hui-article-box {
    left: 45px;
}

.dislpayArrow {
    display: none;
}

.big-page .Hui-article-box, .big-page .dislpayArrow, .big-page .breadcrumb {
    left: 165px
}

.big-page .Hui-aside {
    left: 0px
}bNav .acrossTab li em {
    height: 35px;
    background-position: right -36px;
}
<<<<<<< origin/master

=======
>>>>>>> local
.acrossTab li:hover {
    background-position: 0 -72px;
    color: #333;
}
<<<<<<< origin/master

.Hui-tabNav .acrossTab li:hover em {
    background-position: right -108px;
}

=======
.Hui-tabNav .acrossTab li:hover em {
    background-position: right -108px;
}
>>>>>>> local
.acrossTab li.active {
    z-index: auto;
    background-position: 0 -144px;
    color: #333;
}
<<<<<<< origin/master

.Hui-tabNav .acrossTab li.active em {
    background-position: right -180px;
}

=======
.Hui-tabNav .acrossTab li.active em {
    background-position: right -180px;
}
>>>>>>> local
.Hui-tabNav-more {
    width: 70px;
    top: 0;
    overflow: hidden;
    height: 35px;
}
<<<<<<< origin/master

=======
>>>>>>> local
    .Hui-tabNav-more a {
        width: 35px !important;
        height: 33px !important;
        line-height: 33px !important;
        padding: 0 !important;
        float: left;
        display: block;
        border-radius: 0 !important;
        margin: 2px 0 0 0 !important;
    }

/*侧边栏的导航*/
.dislpayArrow, .Hui-article-box {
    left: 45px;
}
<<<<<<< origin/master

.dislpayArrow {
    display: none;
}

=======
.dislpayArrow {
    display:none;
}
>>>>>>> local
.big-page .Hui-article-box, .big-page .dislpayArrow, .big-page .breadcrumb {
    left: 165px
}

.big-page .Hui-aside {
    left: 0px
<<<<<<< origin/master
}
=======
}


>>>>>>> local
